body{
  background-color: rgb(245, 249, 252);
}
.header {
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  display: flex;
  box-shadow: 3px 3px 3px rgb(199, 199, 199);
}

.title {
  font-size: 300%;
  justify-Content: center;
  text-align: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(5, 5, 141);
}

.input-form {
  display: grid;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  margin: 200px auto 0 auto;
}

.input-Box {
  border-radius: 2px;
  background-color: white;
  width: 200px;
  height: 30px;
  border-color: rgb(235, 236, 237);
  box-shadow: 0 0 3px rgb(106, 106, 106) ;
  border: none;
}

.button {
  display: flex;
  border-radius: 2px;
  background-color: rgb(255, 215, 38);
  box-shadow: 0 0 3px rgb(106, 106, 106) ;
  width: 150px;
  height: 35px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  justify-Content: center;
  color: rgb(5, 5, 141);
  font-size: 120%;
}

.button-form {
  display: grid;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  margin: 200px auto 0 auto;
}

.country-list-style {
  display: grid;
  grid-template-columns: repeat(5, 6fr);
  justify-Content: center;
  text-align: center;
};

.delete-btn{
  background-color: red;
}