.header {
  width: 100%;
  height: 350px;
  background-color: green;
  display: flex;
  border-radius: 10px;
  margin: auto;
  margin: 100px auto 0 auto;
}

.title {
  font-size: 300%;
}

.input-form {
  display: grid;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  margin: 200px auto 0 auto;
}

.input-Box {
  border-radius: 6px;
  background-color: red;
  width: 200px;
  height: 30px;
}

.button {
  display: flex;
  border-radius: 6px;
  background-color: red;
  width: 150px;
  height: 35px;
}

.button-form {
  display: grid;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  margin: 200px auto 0 auto;
}
